<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            <td>Dish</td>
            <td>id</td>
            <td>Native</td>
            
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["Dish"]}}</td>
               <td>{{row['id']}}</td>
               <td> {{ row["Native"]}}</td>
               	
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page to view the 'Recipe' database.</a>
   </body>
</html>