<html>
   <body>
      <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>Recipe Information</h3>
         Dish<br>
         <input type = "text" name = "Dish" /></br>
         
         
         
         Native<br>
         <input type = "text" name = "Native" /><br>
         
         id (>8)<br>
         <input type = "text" name = "id" /><br>

         <input type = "submit" value = "submit" /><br>
      </form>
   </body>
</html>